In [1]:
import datetime
import pandas as pd
import numpy as np
import os
import optuna
from os.path import curdir
import math
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, silhouette_samples
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans, DBSCAN, AgglomerativeClustering
from sklearn.mixture import GaussianMixture
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# define path and set up dataframe
data_path = ('train.csv')
df = pd.read_csv(data_path,index_col="Id")
df.head()

,AB,AF,AH,AM,AR,AX,AY,AZ,BC,BD,...,FL,FR,FS,GB,GE,GF,GH,GI,GL,Class
Id,,,,,,,,,,,,,,,,,,,,,
000ff2bfdfe9,0.209377,3109.03329,85.200147,22.394407,8.138688,0.699861,0.025578,9.812214,5.555634,4126.58731,...,7.298162,1.73855,0.094822,11.339138,72.611063,2003.810319,22.136229,69.834944,0.120343,1
007255e47698,0.145282,978.76416,85.200147,36.968889,8.138688,3.632190,0.025578,13.517790,1.229900,5496.92824,...,0.173229,0.49706,0.568932,9.292698,72.611063,27981.562750,29.135430,32.131996,21.978000,0
013f2bd269f5,0.470030,2635.10654,85.200147,32.360553,8.138688,6.732840,0.025578,12.824570,1.229900,5135.78024,...,7.709560,0.97556,1.198821,37.077772,88.609437,13676.957810,28.022851,35.192676,0.196941,0
043ac50845d5,0.252107,3819.65177,120.201618,77.112203,8.138688,3.685344,0.025578,11.053708,1.229900,4169.67738,...,6.122162,0.49706,0.284466,18.529584,82.416803,2094.262452,39.948656,90.493248,0.155829,0
044fb8a146ec,0.380297,3733.04844,85.200147,14.103738,8.138688,3.942255,0.054810,3.396778,102.151980,5728.73412,...,8.153058,48.50134,0.121914,16.408728,146.109943,8524.370502,45.381316,36.262628,0.096614,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 617 entries, 000ff2bfdfe9 to ffcca4ded3bb
Data columns (total 57 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AB      617 non-null    float64
 1   AF      617 non-null    float64
 2   AH      617 non-null    float64
 3   AM      617 non-null    float64
 4   AR      617 non-null    float64
 5   AX      617 non-null    float64
 6   AY      617 non-null    float64
 7   AZ      617 non-null    float64
 8   BC      617 non-null    float64
 9   BD      617 non-null    float64
 10  BN      617 non-null    float64
 11  BP      617 non-null    float64
 12  BQ      557 non-null    float64
 13  BR      617 non-null    float64
 14  BZ      617 non-null    float64
 15  CB      615 non-null    float64
 16  CC      614 non-null    float64
 17  CD      617 non-null    float64
 18  CF      617 non-null    float64
 19  CH      617 non-null    float64
 20  CL      617 non-null    float64
 21  CR      617 non-null    float64
 22  CS      617 non-null    float64
 23  CU      617 non-null    float64
 24  CW      617 non-null    float64
 25  DA      617 non-null    float64
 26  DE      617 non-null    float64
 27  DF      617 non-null    float64
 28  DH      617 non-null    float64
 29  DI      617 non-null    float64
 30  DL      617 non-null    float64
 31  DN      617 non-null    float64
 32  DU      616 non-null    float64
 33  DV      617 non-null    float64
 34  DY      617 non-null    float64
 35  EB      617 non-null    float64
 36  EE      617 non-null    float64
 37  EG      617 non-null    float64
 38  EH      617 non-null    float64
 39  EJ      617 non-null    object
 40  EL      557 non-null    float64
 41  EP      617 non-null    float64
 42  EU      617 non-null    float64
 43  FC      616 non-null    float64
 44  FD      617 non-null    float64
 45  FE      617 non-null    float64
 46  FI      617 non-null    float64
 47  FL      616 non-null    float64
 48  FR      617 non-null    float64
 49  FS      615 non-null    float64
 50  GB      617 non-null    float64
 51  GE      617 non-null    float64
 52  GF      617 non-null    float64
 53  GH      617 non-null    float64
 54  GI      617 non-null    float64
 55  GL      616 non-null    float64
 56  Class   617 non-null    int64
dtypes: float64(55), int64(1), object(1)
memory usage: 279.6+ KB

In [ ]:
pip install catboost

In [4]:

from sklearn.model_selection import train_test_split
y=df['Class']
X=df.drop(columns=['Class'])
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=0)

In [5]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 431 entries, c49cbf1cac11 to e52a2f7ad6a5
Data columns (total 56 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AB      431 non-null    float64
 1   AF      431 non-null    float64
 2   AH      431 non-null    float64
 3   AM      431 non-null    float64
 4   AR      431 non-null    float64
 5   AX      431 non-null    float64
 6   AY      431 non-null    float64
 7   AZ      431 non-null    float64
 8   BC      431 non-null    float64
 9   BD      431 non-null    float64
 10  BN      431 non-null    float64
 11  BP      431 non-null    float64
 12  BQ      395 non-null    float64
 13  BR      431 non-null    float64
 14  BZ      431 non-null    float64
 15  CB      429 non-null    float64
 16  CC      428 non-null    float64
 17  CD      431 non-null    float64
 18  CF      431 non-null    float64
 19  CH      431 non-null    float64
 20  CL      431 non-null    float64
 21  CR      431 non-null    float64
 22  CS      431 non-null    float64
 23  CU      431 non-null    float64
 24  CW      431 non-null    float64
 25  DA      431 non-null    float64
 26  DE      431 non-null    float64
 27  DF      431 non-null    float64
 28  DH      431 non-null    float64
 29  DI      431 non-null    float64
 30  DL      431 non-null    float64
 31  DN      431 non-null    float64
 32  DU      431 non-null    float64
 33  DV      431 non-null    float64
 34  DY      431 non-null    float64
 35  EB      431 non-null    float64
 36  EE      431 non-null    float64
 37  EG      431 non-null    float64
 38  EH      431 non-null    float64
 39  EJ      431 non-null    object
 40  EL      394 non-null    float64
 41  EP      431 non-null    float64
 42  EU      431 non-null    float64
 43  FC      430 non-null    float64
 44  FD      431 non-null    float64
 45  FE      431 non-null    float64
 46  FI      431 non-null    float64
 47  FL      431 non-null    float64
 48  FR      431 non-null    float64
 49  FS      429 non-null    float64
 50  GB      431 non-null    float64
 51  GE      431 non-null    float64
 52  GF      431 non-null    float64
 53  GH      431 non-null    float64
 54  GI      431 non-null    float64
 55  GL      431 non-null    float64
dtypes: float64(55), object(1)
memory usage: 191.9+ KB

In [7]:
import pandas as pd
import time
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
from catboost import CatBoostClassifier
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import cross_validate

# Split the dataframe into X (features) and y (target, aka, label).
#X = df.copy().drop('y', axis=1)
#y = df.copy()['y']



# This is a simple dataset that does not need any cleaning or feature engineering,
# so we will skip those here. In most real-world situations, we'd want to do the
# normal pipeline dance at this point.

# Catboost can handle categorical features by itself. We just need to make 
# sure the dataframe is using panda's built-in "category" data type.
cat_cols = ['EJ']
X_train[cat_cols] = X_train[cat_cols].astype('category')

params= {
    'cat_features': cat_cols,
    'verbose': 0,
}

start = time.time()
estimator = CatBoostClassifier(**params)

# The more CV, the better our estimate of the score
inner_cv_scores = cross_validate(estimator, X_train, y_train, 
                                 cv=20, 
                                 scoring="roc_auc", 
                                 n_jobs=5, 
                                 verbose=0, 
                                 return_train_score=True)
cv_scores=inner_cv_scores['test_score'].tolist()
fit_times=inner_cv_scores['fit_time'].tolist()
duration = time.time() - start

print("CV Scores:")
print(["{:0.4f}".format(cv_score) for cv_score in cv_scores])
print("CV Score mean: {:.4f} ".format(np.mean(cv_scores)))
print("CV Score range: {:0.4f} -- {:0.4f}".format(np.mean(cv_scores) - np.std(cv_scores), np.mean(cv_scores) + np.std(cv_scores)))
print("Total duration: {}".format(duration))

CV Scores:
['0.9722', '0.9167', '0.7500', '1.0000', '1.0000', '0.9028', '0.9028', '0.9722', '1.0000', '1.0000', '0.8750', '1.0000', '0.8529', '0.9853', '1.0000', '1.0000', '0.9706', '0.9853', '0.9853', '1.0000']
CV Score mean: 0.9536
CV Score range: 0.8882 -- 1.0189
Total duration: 110.20803952217102

In [9]:
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score

# Assuming you have trained a CatBoostClassifier model and have X_train, y_train, X_test, and y_test available.

# Initialize and train the CatBoostClassifier
# model = CatBoostClassifier(**params)
estimator.fit(X_train, y_train)

# Apply the trained model to X_test for predictions
y_pred = estimator.predict(X_test)

# Evaluate the model's performance using accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: {:.4f}".format(accuracy))

Accuracy: 0.9032

In [10]:
test_df = pd.read_csv('test.csv')
#pd.read_csv('test.csv',index_col="Id")

In [11]:
test_df

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FI,FL,FR,FS,GB,GE,GF,GH,GI,GL
0,00eed32682bb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,010ebe33f668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,02fa521e1838,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,040e15f562a2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,046e85c7cc7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
test_df_copy = test_df.set_index("Id").copy()

In [13]:
test_df_copy

,AB,AF,AH,AM,AR,AX,AY,AZ,BC,BD,...,FI,FL,FR,FS,GB,GE,GF,GH,GI,GL
Id,,,,,,,,,,,,,,,,,,,,,
00eed32682bb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
010ebe33f668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
02fa521e1838,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
040e15f562a2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
046e85c7cc7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
test_df_copy.columns = test_df_copy.columns.str.strip()

In [15]:
# Extract IDs from the test dataset
test_ids = test_df['Id']

# Make predictions
predictions = estimator.predict_proba(test_df_copy)

# Create a new DataFrame with prediction results
prediction_df = pd.DataFrame({'Id': test_ids, 'class_0': predictions[:, 0], 'class_1': predictions[:, 1]})

# Print the prediction DataFrame
print(prediction_df)

             Id   class_0   class_1
0  00eed32682bb  0.625155  0.374845
1  010ebe33f668  0.625155  0.374845
2  02fa521e1838  0.625155  0.374845
3  040e15f562a2  0.625155  0.374845
4  046e85c7cc7f  0.625155  0.374845